<%= form_with model: books do |form| %>
  <div>
    <%= form.text_field :title, placeholder: "Book Title" %>
  </div>
  <br/>
  <div>
    <%= form.text_field :author, placeholder: "Author Name" %>
  </div>

  <div>
    <%= form.label "Have I read this book?" %>
    <%= form.radio_button :read, "true" %>
    <%= form.label "True" %>
    <%= form.radio_button :read, "false" %>
    <%= form.label "False" %>
  </div>

  <div>
    <%= form.text_area :synopsis, placeholder: "Write out your quick synopsis here!" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
