<h1><%= @books.title %></h1>
<p>Synopsis:</p>
<p>
  <%= @books.synopsis %>
</p>


<%= link_to "Edit Info", edit_book_path(@books) %> 
<%= link_to "Delete entry", book_path(@books), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>
</br>
<%= link_to "Back to home", root_path %>